      <nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"
                        (click)="toggleState()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Clipper Web APP</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse"  [ngClass]="{ 'in': isIn }" [hidden]="isActive()">
          <ul class="nav navbar-nav">
            <li class="active"> <a routerLink="/" *ngIf="authService.isLogedIn()">Home</a></li>            
          </ul>
          <ul class="nav navbar-nav">
            <li> <a routerLink="/profile" *ngIf="authService.isLogedIn()">Profile</a></li>                    
          </ul>
          <ul class="nav navbar-nav">
            <li> <a routerLink="/dashboard" *ngIf="authService.isLogedIn()">Dashboard</a></li>                    
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li> <a routerLink="/login" *ngIf="!authService.isLogedIn()" >Login</a></li>                      
          </ul>
        </div>
      </div>
    </nav>